<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".tab1.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MadCamp_Week2"
        android:usesCleartextTraffic="true"
        tools:targetApi="31"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".tab1.InitialActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".tab1.LoginActivity"
            android:exported="false" />



        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity android:name=".tab1.EditProfileActivity" />

        <activity
            android:name=".tab1.BookDetailActivity"
            android:exported="false" />



        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="oauth"
                    android:scheme="kakao9e167b564736611eeda3fac0e447d065" />
            </intent-filter>
        </activity>

        <activity
            android:name=".tab2.MainActivityTab2"
            android:exported="true"
            android:theme="@style/SplashTheme"
            />



        <activity android:name=".SplashActivity2"
            android:theme="@style/Theme.AppCompat.NoActionBar" />


        <activity
            android:name=".tab1.ReadBooksActivity"
            android:exported="false" />




    </application>
</manifest>